@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Lobster&family=Tilt+Neon&display=swap');

$titleFont: 'Gajraj One', cursive;
$supportFont: 'Lobster', cursive;
$textFont: 'Tilt Neon', cursive;

$primaryColor: #601099;
$secondaryColor: #3510FF;
$supportPrimaryColor: #2E0957;
$supportSecondaryColor: #32118F;
$darkColor: #1E0A40;
$bgColor: #000000;
$fontColor: #FFFFFF;